
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background-color: #0077b6;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}


.left-col {
    background-color: #333;
    color: #fff;
    width: 150px; 
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; 
}

.left-col .navbar ul {
    list-style: none;
    padding: 0;
}

.left-col .navbar ul li {
    margin: 0;
    padding: 0;
}

.left-col .navbar ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.left-col .navbar ul li a:hover {
    background-color: #444;
    
}


.main-content {
    margin-left: 180px; 
    padding: 5px; 
}

#introduction,
#university-info,
#city-insights {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#university-info h3 {
    color: #0077b6;
    font-size: 1.5em;
    margin-top: 20px;
}

#university-info h4 {
    color: #009688;
    font-size: 1.3em;
    margin-top: 15px;
}

#university-info p {
    margin-top: 10px;
}


#city-insights h3 {
    color: #d62828;
    font-size: 1.5em;
    margin-top: 15px;
}

#city-insights h4 {
    color: #009688;
    font-size: 1.3em;
    margin-top: 10px;
}

#city-insights p {
    margin-top: 5px;
}


footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    bottom: 0;

}

.footer1
{
    position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #333; 
            color: white; 
            text-align: center;
            padding: 10px 0;
}


ul,
ol {
    margin-left: 20px;
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}


code {
    background-color: #f0f0f0;
    padding: 2px 5px;
    border-radius: 3px;
}


a:hover {
    text-decoration: underline;
}


.university-image {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}


.city-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.jobs_img { 
    float: right;
    margin-left: 10px;
    margin-bottom: 15px;
}

.profile_img { 
    float: right;
    margin-left: 10px;
    margin-bottom: 15px;
    width: 400px;
}